<h1>Your Todos</h1>
<%= link_to 'Clear all done todos',
            { :controller => 'todos',
              :action => 'clear_done' },
            method: :delete,
            :remote => true,
            :id => 'clear_done_todos' %>
<ul class="todos">
  <%= render :partial => 'todos/todo', :collection => @todos %>
</ul>
<%= form_for :todo, 
             :remote => true,
             :html => { :id => 'new_todo' }, 
             :url => { :controller => 'todos', :action => 'create' } do |f| %>
  <%= f.text_field :todo, :placeholder => 'Let\'s plan something cool to do' %>
  <%= f.submit 'Add Todo', :class => 'btn', :id => 'todo_submit'  %>
<% end %>
